body{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    background-color: #e1f0f0;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    margin: 10px;
}
.containerForm{
    display: flex;
    flex-direction: column;
}